*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where([hidden]:not([hidden=until-found])) {
  display: none !important;
}

:where(html) {
  -webkit-text-size-adjust: none;
  color-scheme: dark light;
}

@supports not (min-block-size: 100dvb) {
  :where(html) {
    block-size: 100%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}
:where(body) {
  block-size: 100%;
  block-size: 100dvb;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
}

:where(textarea) {
  resize: vertical;
  resize: block;
}

:where(button, label, select, summary, [role=button], [role=option]) {
  cursor: pointer;
}

:where(:disabled) {
  cursor: not-allowed;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
}

:where(button) {
  border-style: solid;
}

:where(a) {
  text-underline-offset: 0.2ex;
}

:where(ul, ol) {
  list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(h1, h2, h3) {
  line-height: calc(1em + 0.5rem);
}

:where(hr) {
  border: none;
  border-block-start: 1px solid;
  color: inherit;
  block-size: 0;
  overflow: visible;
}

:where(:focus-visible) {
  outline: 2px solid var(--focus-color, Highlight);
  outline-offset: 2px;
}

:where(.visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden)) {
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: #444;
  font-size: 100%;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.product_list {
  display: flex;
  flex-wrap: wrap;
}
.product_list .product {
  width: 25%;
  padding: 10px;
}
.product_list .product p {
  font-size: 12px;
}

.c-button {
  border: none;
  background-color: white;
  margin: 20px;
}

.pager ol {
  display: flex;
}
.pager ol li {
  padding: 20px;
}

.container {
  max-width: 1360px;
  padding: 0 40px;
  margin: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  padding: 20px;
}
footer ul {
  display: flex;
}
footer ul li {
  margin-left: 20px;
}
footer ul li a {
  text-decoration: none;
  font-size: 12px;
}
footer .copyright {
  font-size: 11px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: white;
  padding: 20px 0;
  top: 0;
}
header h1 {
  padding-left: 10px;
}
header h1 img {
  width: 75%;
}
header div.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width: 50px;
}
header div.hamburger span {
  display: block;
  height: 3px;
  width: 35px;
  background-color: #757575;
  margin: 3px;
}

/*# sourceMappingURL=styles.css.map */
